body {
  font: 100% Helvetica, sans-serif;
  color: #000;
  margin: 0;
}

.wrapper_inner {
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
}
@media screen and (max-width: 1000px) {
  .wrapper_inner {
    padding-left: 15px;
    padding-right: 15px;
  }
}

button {
  border-radius: 4px;
}

header {
  border-bottom: 2px solid rgba(234, 234, 234, 0.6);
  position: relative;
  margin-bottom: 20px;
}
@media screen and (max-width: 915px) {
  header {
    text-align: center;
  }
}
header .logo_nav {
  width: 135px;
  height: 68px;
  position: absolute;
}
@media screen and (max-width: 915px) {
  header .logo_nav {
    position: relative;
  }
}
header ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 915px) {
  header ul {
    flex-direction: column;
    margin: 0 auto;
    max-width: 150px;
  }
}
header ul li {
  list-style: none;
  color: #ccc;
  border-bottom: 2px solid transparent;
}
header ul li:hover, header ul li:active {
  border-bottom: 2px solid #2985F7;
}
header ul li:hover a, header ul li:active a {
  color: #333;
}
header ul li a {
  color: #ccc;
  text-decoration: none;
  padding: 24px;
  display: block;
}
@media screen and (max-width: 915px) {
  header ul li a {
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
header ul li.active {
  border-bottom: 2px solid #2985F7 !important;
}

.block_main div.row_border {
  border-bottom: 2px solid rgba(234, 234, 234, 0.6);
}
.block_main .list_header {
  display: flex;
  justify-content: space-between;
}
.block_main .list_header h3 {
  margin-bottom: 0.5em;
}
.block_main .button_switch {
  border-color: transparent;
  background-color: transparent;
  color: rgba(234, 234, 234, 0.6);
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 1.1em;
}
.block_main .button_switch:focus {
  outline: none;
  color: #333;
}
@media screen and (max-width: 915px) {
  .block_main .button_switch {
    display: none;
  }
}
.block_main table.gridViewActive {
  display: block;
  width: 100%;
}
.block_main table.gridViewActive thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.block_main table.gridViewActive tbody {
  padding: 10px;
  width: 100%;
}
.block_main table.gridViewActive tbody tr {
  display: block;
  margin: 0 1rem 1rem 1rem;
  width: 46%;
  float: left;
}
.block_main table.gridViewActive tbody tr td {
  display: block;
  border: none;
  border-bottom: 1px solid rgba(234, 234, 234, 0.6);
  position: relative;
  padding-left: 50%;
}
.block_main table.gridViewActive tbody tr td:last-of-type {
  text-align: left;
}
.block_main table.gridViewActive tbody tr td:before {
  position: absolute;
  top: calc(50%-6px);
  left: 5px;
  width: 49%;
  padding-right: 10px;
  white-space: nowrap;
  font-size: 0.8em;
  color: #ccc;
  text-transform: uppercase;
  vertical-align: middle;
}
.block_main table.gridViewActive tbody tr td:nth-of-type(1):before {
  content: "company";
}
.block_main table.gridViewActive tbody tr td:nth-of-type(2):before {
  content: "covering";
}
.block_main table.gridViewActive tbody tr td:nth-of-type(3):before {
  content: "type";
}
.block_main table.gridViewActive tbody tr td:nth-of-type(4):before {
  content: "metal level";
}
.block_main table.gridViewActive tbody tr td:nth-of-type(5):before {
  content: "drugs";
}
.block_main table.gridViewActive tbody tr td:nth-of-type(6):before {
  content: "primary care visits";
}
.block_main table.gridViewActive tbody tr td:nth-of-type(7):before {
  content: "yearly deductible";
}
.block_main table.gridViewActive tbody tr td:nth-of-type(8):before {
  content: "price";
}
.block_main table.gridViewActive tbody tr td:nth-of-type(9):before {
  content: "";
}
.block_main table {
  font-size: 0.9em;
  width: 100%;
  text-align: left;
  margin-top: 30px;
}
@media screen and (max-width: 915px) {
  .block_main table {
    display: block;
  }
}
.block_main table thead tr {
  vertical-align: top;
  font-size: 0.8em;
  color: #ccc;
  text-transform: uppercase;
}
@media screen and (max-width: 915px) {
  .block_main table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
}
@media screen and (max-width: 915px) {
  .block_main table tbody {
    display: block;
  }
}
@media screen and (max-width: 915px) {
  .block_main table tbody tr {
    display: block;
    margin: 0 0 1rem 0;
  }
}
.block_main table tbody tr td {
  border-bottom: 1px solid rgba(234, 234, 234, 0.6);
  padding: 1rem 0.5rem;
}
.block_main table tbody tr td:last-of-type {
  text-align: right;
}
.block_main table tbody tr td div.company_name {
  display: flex;
  align-items: center;
}
.block_main table tbody tr td div.company_name img {
  padding-right: 5px;
}
@media screen and (max-width: 915px) {
  .block_main table tbody tr td {
    display: block;
    border: none;
    position: relative;
    padding-left: 50%;
    border-bottom: 1px solid rgba(234, 234, 234, 0.6);
  }
  .block_main table tbody tr td:last-of-type {
    text-align: left;
  }
  .block_main table tbody tr td:before {
    position: absolute;
    top: calc(50%-6px);
    left: 5px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-size: 0.8em;
    color: #ccc;
    text-transform: uppercase;
    vertical-align: middle;
  }
  .block_main table tbody tr td:nth-of-type(1):before {
    content: "company";
  }
  .block_main table tbody tr td:nth-of-type(2):before {
    content: "covering";
  }
  .block_main table tbody tr td:nth-of-type(3):before {
    content: "type";
  }
  .block_main table tbody tr td:nth-of-type(4):before {
    content: "metal level";
  }
  .block_main table tbody tr td:nth-of-type(5):before {
    content: "drugs";
  }
  .block_main table tbody tr td:nth-of-type(6):before {
    content: "primary care visits";
  }
  .block_main table tbody tr td:nth-of-type(7):before {
    content: "yearly deductible";
  }
  .block_main table tbody tr td:nth-of-type(8):before {
    content: "price";
  }
  .block_main table tbody tr td:nth-of-type(9):before {
    content: "";
  }
}
.block_main table tbody tr i.fa-star {
  font-size: 0.7em;
}
.block_main table tbody tr i.yellow {
  color: #FFC000;
}
.block_main table tbody tr i.grey {
  color: rgba(234, 234, 234, 0.6);
}
.block_main table tbody tr i.fa-question {
  color: #2985F7;
  background-color: #E4F0FF;
  border-radius: 50%;
  padding: 2px 4px;
}
.block_main table tbody tr i.platinum {
  color: #999999;
}
.block_main table tbody tr i.silver {
  color: #ADC1C4;
}
.block_main table tbody tr button {
  padding: 5px 15px;
  font-size: 0.9em;
  margin-bottom: 5px;
  margin-top: 5px;
}
.block_main table tbody tr button.button_white {
  color: #2985F7;
  background-color: #fff;
  border: 1px solid #2985F7;
}
.block_main table tbody tr button.button_blue {
  background-color: #2985F7;
  color: #fff;
  border: 1px solid #2985F7;
}

footer {
  border-top: 2px solid rgba(234, 234, 234, 0.6);
  margin-top: 20px;
}
footer div.wrapper_inner {
  display: flex;
}
@media screen and (max-width: 915px) {
  footer div.wrapper_inner {
    flex-direction: column;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
footer span {
  padding: 24px;
  padding-left: 0;
  color: #333;
}
@media screen and (max-width: 915px) {
  footer span {
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
footer ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
}
@media screen and (max-width: 915px) {
  footer ul {
    flex-direction: column;
  }
}
footer ul li {
  list-style: none;
}
footer ul li:hover a {
  color: #333;
}
footer ul li a {
  color: #ccc;
  text-decoration: none;
  padding: 24px;
  display: block;
}
@media screen and (max-width: 915px) {
  footer ul li a {
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

/*# sourceMappingURL=style.css.map */
